
<div class="container">
    <h2>Редактировать анкету</h2>
    <form method="POST" enctype="multipart/form-data">
        {{ profile.hidden_tag() }}

        <label for="name">Имя</label>
        {{ profile.name(class="form-control") }}

        <label for="gender">Пол</label>
        {{ profile.gender(class="form-control") }}

        <label for="birthdate">Дата рождения</label>
        {{ profile.birthdate(class="form-control") }}

        <label for="country">Country</label>
        <select id="country" name="country" required>
            <option value="{{ profile.country.data }}" selected>{{ profile.country.data }}</option>
        </select>
        
        <label for="city">City</label>
        <select id="city" name="city" required>
            <option value="{{ profile.city.data }}" selected>{{ profile.city.data }}</option>
        </select>


        <label for="interests">Интересы</label>
        {{ profile.interests(class="form-control", rows="3") }}

        <label for="about">О себе</label>
        {{ profile.about(class="form-control", rows="3") }}

        <label for="photo">Фото</label>
        {{ profile.photo(class="form-control-file") }}
        {% if profile._obj.photo %}
        <img src="{{ url_for('static', filename='uploads/' ~ profile._obj.photo) }}" alt="Current photo"
            class="preview-img">
        {% endif %}

        <button type="submit" class="submit-btn">Сохранить изменения</button>
    </form>
</div>