<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Dating MiniApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/spa.js') }}"></script>


</head>

<body class="{{ body_class or '' }}">


    <main id="content">
        {% if message %}
        <div class="alert success">{{ message }}</div>
        {% endif %}

        {% include content_template or "fragments/home.html" %}
    </main>
    <div id="loader" style="display:none;">Загрузка...</div>

    <!-- <script>
        const tg = window.Telegram.WebApp;
        if (tg) {
            tg.ready();
            tg.expand();
        }
    </script> -->


</body>

</html>