<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Поиск анкет</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <div class="container">
    <h2>Поиск анкет</h2>
    <form method="POST">
      <div class="form-group">
        <label>Имя:
        <input type="text" name="name" placeholder="Поиск по имени">

        </label>
      </div>
      <div class="form-group">
        <label>Город:
        <input type="text" name="city" placeholder="Поиск по городу">

        </label>
      </div>
      <div class="form-group">
        <label>Возраст от:
        <input type="number" name="age_min" min="18" max="99">

        </label>
      </div>
      <div class="form-group">
        <label>До:
        <input type="number" name="age_max" min="18" max="99">

        </label>
      </div>
      <div class="form-group">
        <label>Интересы:
        <input type="text" name="interests" placeholder="Например: музыка, спорт...">

        </label>
      </div>
      <button type="submit">🔍 Найти</button>
    </form>
  </div>
</body>

</html>